body {
    height: 1300px;
    font-size: 18px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,202,0,1) 0%, rgba(185,2,2,1) 100%);
    transition-duration: 3s;
}
