body {
    background: rgba(255,237,97,1);
    background: -moz-radial-gradient()(left, rgba(255,237,97,1) 0%, rgba(255,63,10,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,237,97,1)), color-stop(100%, rgba(255,63,10,1)));
    background: -moz-radial-gradient()(left, rgba(255,237,97,1) 0%, rgba(255,63,10,1) 100%);
    background: -o-linear-gradient(left, rgba(255,237,97,1) 0%, rgba(255,63,10,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,237,97,1) 0%, rgba(255,63,10,1) 100%);
    background: linear-gradient(to right, rgba(255,237,97,1) 0%, rgba(255,63,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed61', endColorstr='#ff3f0a', GradientType=1 ) no-repeat;
    height: 1300px;
    font-size: 18px;
}
