#page-gallery {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3em 0px;
}

#page-gallery .card {
    background-color: #00000018;
    margin: 16px;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px #00000070;
    transform: rotate(-90deg);
}

#page-gallery .card .photo:hover {
    background-color: #ffffff18;
    margin: 16px;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px #00000070;
    transform: rotate(0deg);
    transition-duration: 0.2s;
    content:"fgdthgyrfhtfyhujtugj";
}

#page-gallery .card .photo {
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 0.5s;
    transform: rotate(-90deg);
}
#page-gallery .card::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: -20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: url(./../img/pin_stick.png);
    background-position: center;
    background-size: contain;
}

#page-gallery .card:nth-child(3n+1)::after { left: 55%; }
#page-gallery .card:nth-child(3n+1) { transform: rotateZ(-1deg); }
#page-gallery .card:nth-child(3n+2)::after { left: 45%; }
#page-gallery .card:nth-child(3n+2) { transform: rotateZ(1deg); }
#page-gallery .card:nth-child(3n+3)::after { left: 40%;}
#page-gallery .card:nth-child(3n+3) { transform: rotateZ(2deg); }
